<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Auth0Domain" value="#{auth0Domain}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Auth0ApiIdentifier" value="#{auth0ApiIdentifier}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Auth0ClientId" value="#{auth0ClientId}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Auth0ClientSecret" value="#{auth0ClientSecret}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Auth0Audience" value="#{auth0Audience}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="SmartELockServiceDb" providerName="System.Data.SqlClient" connectionString="#{connectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>