<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/473f8b8d-175d-47b1-a6a7-af1cec22a43e/resourceGroups/SmartELock.Dev/providers/Microsoft.Web/sites/DevSmartELockServiceApi</ResourceId>
    <ResourceGroup>SmartELock.Dev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://devsmartelockserviceapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devsmartelockserviceapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>devsmartelockserviceapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$devsmartelockserviceapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartELockServiceDb" Order="1" Enabled="False">
          <Destination Path="#{connectionString}" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=devSmartELock.database.windows.net;Initial Catalog=DevSmartELockDB;Persist Security Info=True;User ID=zmx20121219;Password=Zywq1314zmx;Pooling=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartELockServiceDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=devSmartELock.database.windows.net;Initial Catalog=DevSmartELockDB;Persist Security Info=True;User ID=zmx20121219;Password=Zywq1314zmx;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SmartELockServiceDb-Web.config Connection String">
      <ParameterValue>#{connectionString}</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>